body {
    background-color: rgb(116, 113, 113);
    color: rgb(3, 243, 231);
    font-family: Arial;
    margin: 0px;
}

header {
    background-color: black;
    color: lightgreen;
    padding: 10px;
    font-size: 16pt;
}

main {
    margin-left: 10px;
    color: rgb(1, 252, 1);
    min-height: 820px;
}

footer {
    background-color: black;
    color: lightgreen;
    padding: 10px;
    font-size: 16pt;
    font-style: italic;
    text-align: right;
}

a {
    text-decoration: none;
    color: rgb(1, 252, 1);
}

li {padding: 5px;}