body {
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
}

menu {
    color:  black;
    font-size: 20pt;
    transition: 2s;
    position: fixed;
    padding: 0%;
    margin: 0%;
    width: 100%;
    top: 0%;
    z-index: 1;
    background-image: url(can0.jpg); border-bottom: solid; border-width: 1px;
}

main {
    margin: 10px 20px;
    position: relative;
}

footer {
    background: black;
    color: black;
    font-size: 16pt;
    text-align: left;
    transition: 2s;
    width: 105%;
    position: relative;
    top: 300px;
}

.logo {
    width: 300px;
    border: none;
}

a {
    margin-right: 25px;
    text-decoration: none;
    color: black;
    font-weight: bold;
    position: relative;
    top: -20px;
}

a:hover {
    color: #008ce4;
    transition: 300ms;
}

h2 {
    position: relative;
    margin-bottom: 10px;
    left: 40px;
    transition: 300ms;
    width: 500px;
}

h2:hover {
    color: #008ce4;
    transition: 300ms;
    font-size: 20pt;
}

.text {
    position: relative;
    left: 80px;
}

.imgg {
    position: relative;
    border: solid;
    border-width: 1px;
    left: 20%;
    width: 45%;
    transition: 300ms;
}

.imgg:hover {
    border: solid;
    border-width: 1px;
    border-color: #008ce4;
    transition: 600ms;
    width: 60%;
}


